html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
}

img {
  display: block;
  position: absolute;
  width: 1024px;
  height: 1024px;
  z-index: 10;
  transition: opacity 3s ease-in-out;
  opacity: 0;
}

video {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 20;
  //mix-blend-mode: multiply;
}

section {

  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 8px;
  border: 1px solid white;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;

}


#stop-recording {
  display: none;
}

#shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.75);
}
